{{ attach_library('generalblog/base-page') }}

{% set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  label_display == 'inline' ? 'clearfix',
  'gallery__field_images__wrapper',
  'gallery__images__item',
] %}
<div class="cards">
  <div{{ attributes.addClass(classes) }}>
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item','gallery__images__item') }}>{{ item.content }}</div>
    {% endfor %}
  </div>
</div>
