{{ attach_library('generalblog/base-page') }}
 {% set classes = [
   'field',
   'field--name-' ~ field_name|clean_class,
   'field--type-' ~ field_type|clean_class,
   label_display == 'inline' ? 'clearfix',

   'descriptions__field_description__wrapper',
 ] %}

<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item','descriptions__field_description__wrapper') }}>{{ item.content }}</div>
  {% endfor %}
</div>
