{{ attach_library('generalblog/base-page') }}


<div class="navigate-block-header">

  {% block paragraph %}
    {% block content %}
      {{ content }}
    {% endblock %}
  {% endblock paragraph %}

</div>
