{{ attach_library('generalblog/base-page') }}


<div class="description-down-block">

  {% block paragraph %}
    {% block content %}
      {{ content }}
    {% endblock %}
  {% endblock paragraph %}

</div>
