@mixin mobile {
  @media (max-width: #{600px}) {
    @content
  }
}

@mixin mobileDesktop {
  @media (max-width: #{960px}) {
    @content
  }
}

@mixin table {
  @media (min-width: #{600px}) {
    @content
  }
}

@mixin tableMax {
  @media (max-width: #{960px}) {
    @content
  }
}

@mixin desktop {
  @media (min-width: #{960px}) {
    @content
  }
}

@mixin desktopOnly {
  @media (min-width: #{960px}) and (max-width: #{1200px}) {
    @content
  }
}

@mixin desktopLarge {
  @media (min-width: #{1200px}) {
    @content
  }
}

@mixin desktopToDesktopLarge {
  @media (min-width: #{960}) and (max-width: #{1400px}) {
    @content
  }
}

@mixin tableDesktopOnly {
  @media (min-width: #{600px}) and (max-width: #{1400px}) {
    @content
  }
}

@mixin desktopExtraLarge {
  @media (min-width: #{1400px}) {
    @content
  }
}

@mixin desktopToExtraDesktopLarge {
  @media (min-width: #{960px}) and (max-width: #{1920px}) {
    @content
  }
}

@mixin desktopExtraLargeFull {
  @media (min-width: #{1920px}) {
    @content
  }
}
