@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Updock&display=swap');

.description-down-block {
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  background-color: white;
  border: 1px solid white;
}

.description-down-tittle {
  font-size: 100px;
  height: 300px;
  border: 1px solid white;
}

.text-tittle-description-down {
  font-family: 'Updock', cursive;
  font-weight: bold;
  color: #f7484e;
  text-align: center;
}

.description-down-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid white;
}


/*----FIRST BLOCK START----*/
.description-down-first-block {
  text-align: center;
  border: 1px solid white;
}

.first-element {
  position: relative;
  height: 250px;
  text-align: center;
  margin: 5px;
  filter: brightness(80%);
}

.first-element:hover {
  .link-a {
    color: transparent;
  }

  filter: brightness(100%);
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #f7484e,
    0 0 50px #f7484e;
  }
}

.link-a {
  filter: brightness(100%);
  top: 50%;
  right: 40%;
  font-size: 27px;
  color: white;
  position: absolute;
}


.second-element {
  filter: brightness(80%);
  position: relative;
  height: 250px;
  margin: 5px;
}

.second-element:hover {
  .link-a {
    color: transparent;
  }

  filter: brightness(100%);
  animation: pulsate 1s ease-in-out;
}

.threed-element {
  filter: brightness(80%);
  position: relative;
  height: 250px;
  margin: 5px;
}

.threed-element:hover {
  .link-a {
    color: transparent;
  }

  filter: brightness(100%);
  animation: pulsate 1s ease-in-out;
}

.fourth-element {
  filter: brightness(80%);
  position: relative;
  height: 250px;
  margin: 5px;
}

.fourth-element:hover {
  .link-a {
    color: transparent;
  }

  filter: brightness(100%);
  animation: pulsate 1s ease-in-out;
  margin: 5px;
}

.fifths-element {
  filter: brightness(80%);
  position: relative;
  height: 250px;
  margin: 5px;
}

.fifths-element:hover {
  .link-a {
    color: transparent;
  }

  filter: brightness(100%);
  animation: pulsate 1s ease-in-out;
}

.sixs-element {
  filter: brightness(80%);
  position: relative;
  height: 250px;
  margin: 5px;
}

.sixs-element:hover {
  .link-a {
    color: transparent;
  }

  animation: pulsate 1s ease-in-out;
  margin: 5px;
}

.sevenths-element {
  filter: brightness(80%);
  position: relative;
  height: 250px;
  margin: 5px;

}

.sevenths-element:hover {
  .link-a {
    color: transparent;
  }

  filter: brightness(100%);
  animation: pulsate 1s ease-in-out;
}

.eights-element {
  filter: brightness(80%);
  position: relative;
  height: 250px;
  margin: 5px;
}

.eights-element :hover {
  .link-a {
    color: transparent;
  }

  filter: brightness(100%);
  animation: pulsate 1s ease-in-out;
}

.description-down-second-block {
  text-align: center;
  border: 1px solid white;
}

.description-down-thred-block {
  text-align: center;
  border: 1px solid white;
}

.description-down-fives-block {
  text-align: center;
  border: 1px solid white;
}

/*----FIRST BLOCK END----*/


/*----SECOND BLOCK START----*/

/*----SECOND BLOCK END----*/
