@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Updock&display=swap');


.description-block {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
}

/*----LEFT BLOCK START-----*/
.field--name-field-left-block {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  background-color: #f7484e;
}

.text-about {
  font-family: 'Updock', cursive;
  font-size: 200px;
  text-align: center;
  color: $white;
}

.t {
  display: grid;
  grid-template-columns: 75px 75px 75px;
  align-self: center;
  justify-self: center;
}

//<p class = "text-about">About</p>
//<div class="situate-links-left-block"><div class = "t"><a href = "#"class="icon"><i class="ri-instagram-line"></i></a><a href = "#" class = "icon"><i class="ri-twitter-line"></i></a><a href = "#" class="icon"><i class="ri-github-line"></i></a></div></div>
.icon {
  text-decoration: none;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  box-shadow: 5px 5px 10px $white,
  -5px -5px 10px $white;
  background-color: #f7484e;
}

.logo-set-link {
  height: 100%;
  width: auto;
  background-size: cover;
}

.icon:focus {
  animation: shadow .15s ease-in-out;
}

@keyframes shadow {
  0% {
    box-shadow: inset 5px 5px 10px $white,
    inset 5px -5px 10px $white;
  }
  100% {
    box-shadow: none;
  }
}

//.navigate-list {
//  color: black;
//  font-weight: bold;
//  font-size: 30px;

//}

//<div class = "situate-links-left-block"><ul class  = "navigate-list"><li class= "set-nav-list">about /</li><li class= "set-nav-list"> work /</li><li class= "set-nav-list"> contact /</li> <li class= "set-nav-list"> shop</li></ul></div>
.set-nav-list {
  font-size: 20px;
  display: inline-block;
}

.situate-links-left-block {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 95%;
}

/*----LEFT BLOCK END-----*/

/*----MIDDLE BLOCK START-----*/
.field--name-field-middle-block {
}

.text-middle {
  color: $white;
}

/*----MIDDLE BLOCK END-----*/

/*----RIGHT BLOCK START-----*/
.field--name-field-right-block {
  height: 100%;
}

.text-forehead {
  font-size: 25px;
  font-weight: bold;
  color: $black;
}

.set-link-ol {
  font-weight: bold;
  font-size: 20px;
}

.text-description {
  font-size: 20px;
  color: $black;
}

.text-description-bold {
  font-size: 20px;
  font-weight: bold;
  color: $black;
}

.block-for-image-and-text {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 53%;
  color: $black;
}

.image-palm {
}

.palm {
  height: 220px;
  width: 150px;
}

.text-opozite {
  font-size: 20px;
  font-weight: bold;
}

/*----RIGHT BLOCK END-----*/
