.gallery__field_images__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin: 20px 100px 100px 100px;
}

.cards {
  perspective: 500px;
}

.gallery__images__item {
  background-size: cover;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.gallery__images__item:hover {
  transform: translateZ(10px);
}

