@import 'variables';
@import 'breakpoint';

.navigate-block-header {
  display: grid;

  height: 100px;
  width: auto;
  grid-template-columns: 60% 1fr 1fr 1fr 1fr;

  background-color: #f7484e;
}

.set-nav-link {
  color: $white;
  display: inline-block;
  text-decoration: none;
  padding: 20px 50px;
  border: 3px solid $white;
  border-radius: 10px;
}

.set-nav-link-home-navigate {
  font-size: 15px;
}

.set-nav-link-my-account {
  font-size: 15px;
}

.set-nav-link-log-out {
  font-size: 15px;
}

.set-nav-link:hover {
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px $black,
    0 0 50px #4e00c2;
  }
}

.field--label-hidden {
  align-self: center;
  justify-self: center;

  font-size: 25px;
}


