@import 'variables';
@import 'breakpoint';
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins:wght@200&display=swap');

.main-block-content {
  overflow-x: hidden;
  background-color: #383838;
}

.navigate-main-block-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 100px 200px 100px 200px;
}

.nav-left-block {
  display: grid;
  grid-template-columns: 1fr;
  height: 1100px;
  width: auto;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  background-color: $white;
}

.nav-elem-block-up-left {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-about-me {
  align-self: center;
  justify-self: center;
  writing-mode: tb-rl;
}

.nav-elem-block-center-left {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-scroll {
  align-self: center;
  justify-self: center;
  writing-mode: tb-rl;
}

.nav-elem-block-down-left {
  display: grid;
  grid-template-columns: 1fr;
}

.ideas {
  align-self: center;
  justify-self: center;
  writing-mode: tb-rl;
}

.nav-center-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 1100px;
  width: 2200px;
}

.nav-elem-block-center-first {
}

.first-foto-nav {
  height: 100%;
  width: 100%;
}

.nav-elem-block-center-second {
}

.second-foto-nav {
  height: 100%;
  width: 100%;
}

.nav-elem-block-center-third {
}

.third-foto-nav {
  height: 100%;
  width: 100%;
}

.nav-elem-block-center-fourth {
}

.fourth-foto-nav {
  height: 100%;
  width: 100%;
}

.nav-elem-block-center-fifth {
}

.fifth-foto-nav {
  height: 100%;
  width: 100%;
}

.nav-elem-block-center-sixth {
}

.six-foto-nav {
  height: 100%;
  width: 100%;
}

.nav-right-block {
  display: grid;
  grid-template-columns: 1fr;
  height: 1100px;
  width: auto;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  background-color: $white;
}

.nav-elem-block-up-right {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-help {
  align-self: center;
  justify-self: center;
  writing-mode: tb-rl;
}

.nav-elem-block-center-right {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-connect {
  align-self: center;
  justify-self: center;
  writing-mode: tb-rl;
}

.nav-elem-block-down-right {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-info {
  align-self: center;
  justify-self: center;
  writing-mode: tb-rl;
}

.navigate-down-block-content {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  height: 2300px;
  width: auto;
  background-color: $white;
}

.left-down-block-content {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f7484e;
}

.logo-about {
  align-self: center;
  justify-self: center;
  font-family: 'Beau Rivage', cursive;
  color: $white;
  font-size: 200px;
}

.nav-links {
  align-self: end;
  justify-self: center;
  color: $black;
  font-weight: bold;
  font-size: 30px;
  background-color: #f7484e;
}

.nav-set {
  display: inline-block;
}

.middle-down-block-content {
  display: grid;
  height: 2300px;
  width: auto;
}

.right-down-block-content {
  display: grid;
  grid-template-columns: 1fr;
  height: 2300px;
  width: auto;
}

.block-content-up {
  display: grid;
  grid-template-columns: 1fr;
  width: auto;
}

.title-block-content-up {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.text-block-content-up {
  font-size: 30px;
  color: $black;
  font-family: 'Poppins', sans-serif;
}

.title-block-content-center {
  color: $black;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.text-block-content-center {
  font-size: 30px;
  color: $black;
  font-family: 'Poppins', sans-serif;
}

.block-content-down {
  display: grid;
  grid-template-columns: 1fr;
  width: auto;
  font-family: 'Poppins', sans-serif;
}

.title-block-content-down {
  font-size: 35px;
  font-weight: bold;
  background-color: $white;
  font-family: 'Poppins', sans-serif;
}

.text-block-content-down {
  display: grid;
  grid-template-columns: 1fr;
  width: auto;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  background-color: $white;
}

.list-block-content-down {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: $black;
  background-color: $white;
}

.second-list-in-block-content-down {
  background-color: $white;
  font-family: 'Poppins', sans-serif;
}

.set-second-list-in-block {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  list-style: inside;
}

.text-block-content-down {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.image-palm {
  display: grid;
  grid-template-columns: 400px 1fr;
  width: auto;
}

.image {
  width: auto;
  background-size: cover;
}

.set-image {
  height: 350px;
  width: 250px;
}

.description-for-image {
  align-self: start;
  justify-self: start;
}

.text-for-description {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
}
