.navigate-block-header{display:grid;height:6.25rem;width:auto;grid-template-columns:60% 1fr 1fr 1fr 1fr;background-color:#f7484e}.set-nav-link{color:#fffaf0;display:inline-block;text-decoration:none;padding:1.25rem 3.125rem;border:0.1875rem solid #fffaf0;border-radius:0.625rem}.set-nav-link-home-navigate{font-size:0.9375rem}.set-nav-link-my-account{font-size:0.9375rem}.set-nav-link-log-out{font-size:0.9375rem}.set-nav-link:hover{-webkit-animation:pulsate 1s ease-in-out;animation:pulsate 1s ease-in-out}@-webkit-keyframes pulsate{0%{box-shadow:0 0 1.5625rem #000,0 0 3.125rem #4e00c2}}@keyframes pulsate{0%{box-shadow:0 0 1.5625rem #000,0 0 3.125rem #4e00c2}}.field--label-hidden{align-self:center;justify-self:center;font-size:1.5625rem}

