.gallery__field_images__wrapper{display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:1.5625rem;margin:1.25rem 6.25rem 6.25rem 6.25rem}.cards{perspective:31.25rem}.gallery__images__item{background-size:cover;border:0.0625rem solid rgba(255,255,255,0.25);border-radius:0.25rem;position:relative;transform-style:preserve-3d;-webkit-backface-visibility:hidden;backface-visibility:hidden;will-change:transform;transition:transform .5s}.gallery__images__item:hover{transform:translateZ(0.625rem)}

